.App {
  width: 90%;
  margin: auto;
}

.trails-container {
  display: grid;
  grid-template-areas: 
  "search"
  "search"
  "trails";
}

.trails-container-searches {
  grid-area: search;
}

.trails-container-trails {
  grid-area: trails;
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  padding-bottom: 25px;
}

.trail-card {
  border: 1px black;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: white;
  border-radius: 5px;
  width: 300px;
  height: 450px;
  font-size: 15px;
}

#trail-image {
  border-radius: 5px 5px 0 0;
  width: 300px;
  height: 200px;
  padding: 0px 0px 0px 0px;
  object-fit: cover;
}

.trail-img-div { 
  height: 300px; 
  width: 200px; 
  overflow: hidden; 
  position: relative;
}

#trail-name {
  background-color: #9EC346;
  color: white;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.diff-img {
  margin: auto;
  width: 300px;
}


body {
  background-color: #F2E8CF;
}

.user-show {
  display: grid;
  grid-template-columns: minmax(250px, 25%) auto;
  grid-template-areas: 
  "wel wel"
  "pic hikes"
  "form form"
  "fav-head fav-head"
  "trails trails"
}

.user-welcome{
  grid-area: wel
}

.prof-pic {
  grid-area: pic;
  width: 200px;
  height: auto;
}

.hike-container {
  grid-area: hikes;
  height: 400px;
  overflow-y: scroll;
  border-radius: 5px;
}

.hike-form {
  grid-area: form;
}

.fav-head {
  grid-area: fav-head;
}

.favorite-container {
  grid-area: trails;
  display: flex;
  flex-wrap: wrap;
}

.hike-card {
  display: flex;
  /* border-style: ridge; */
  width: 90%;
  border: 1px black;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: white;
  border-radius: 5px;
}

.hike-card-title {
  display: flex;
  justify-content: center;
}


.hike-card img {
  width: 100px;
  height: auto;
}

.hike-card img:hover {
  background-color: #000000;
  opacity: 0.5;
} 

.hike-card span:hover{
  color: blue;
  text-decoration: underline;
}

/* .trail-card-front {

}

.trail-card-back {

} */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
  .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #6A994E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #386641;
}



/* .files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 37px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
} */
